/*----- UTILITIES ----- */

.u-center-text {
        text-align: center !important;
}

.u-margin-bottom-extra-large {
        margin-bottom: 6rem !important;
        @include respond(tab-port){
                margin-bottom: 3rem !important; 
        }
}

.u-margin-bottom-large {
        margin-bottom: 4rem !important;
        
        @include respond(tab-port){
                margin-bottom: 2rem !important; 
        }
}

.u-margin-bottom-medium {
        margin-bottom: 2rem !important;
}

.u-margin-bottom-small {
        margin-bottom: 1rem !important;
}

.u-margin-top-large {
        margin-top: 4rem !important;
}